In [ ]:
# 문자열 자료형
a1 = 123
a2 = "123"
a3 = "hello world"
a4 = 'hello world'
a5 = """I am Python programmin language"""
a6 = '''
I
am
Python
programming
language'''    # """, ''' 줄바꿈 가능
print(type(a1), a1)
print(type(a2), a2)
print(type(a3), a3)
print(type(a4), a4)
print(type(a5), a5)
print(type(a6), a6)

<class 'int'> 123
<class 'str'> 123
<class 'str'> hello world
<class 'str'> hello world
<class 'str'> I am Python programmin language
<class 'str'>
I
am
Python
programming
language

In [ ]:
# 문자열 안에 작은 따옴표 및 큰 따옴표 삽입하는 방법
a1 = "I'm Python programming language"        # 작은 따옴표 삽입
print(a1)

a1 = 'I am "Python" programming language'     # 큰 따옴표 삽입
print(a1)

a1 = "I'm "'"Python"'" programming language"  # 작은 따옴표 및 큰 따옴표 삽입
print(a1)

a1 = 'I\'m \"Python\" programming language'   # 역슬래시를 이용하여 작은&큰 따옴표 삽입
print(a1)

I'm Python programming language
I am "Python" programming language
I'm "Python" programming language
I'm "Python" programming language

In [ ]:
# 문자열 더하기
a1 = "I'm "
a2 = '"Python" '
a3 = """programming language
!!!"""
print(a1 + a2 + a3)

I'm "Python" programming language
!!!

In [ ]:
# 문자열 곱하기
a1 = "I am "
a2 = "Python "
a3 = "programming language "
print(a1 * 3)
print(a1 * 3, a2 * 3, a3 * 2)

I am I am I am
I am I am I am  Python Python Python  programming language programming language

In [ ]:
# len()함수를 이용하여 문자열 길이 구하기
a = "I am Python programming language"
print("a 변수의 문자열 길이 =", len(a))

a 변수의 문자열 길이 = 32

In [ ]:
# 예제 1
a1 = "I am "
a2 = "Python "
a3 = "programming language"
a4 = "="
print(a4 * 36)
print(a4, a1+a2+a3, a4)
print(a4 * 36)

====================================
= I am Python programming language =
====================================

In [ ]:
# 문자열 인덱싱 이해
a = "I am Python programming language"
print("전체 문자: ", a)
print("0 번 인덱스 문자: ", a[0])
print("5 번 인덱스 문자: ", a[5])
print("5~10 인덱스 문자: ", a[5] + a[6] + a[7] + a[8] + a[9] + a[10])

전체 문자:  I am Python programming language
0 번 인덱스 문자:  I
5 번 인덱스 문자:  P
5~10 인덱스 문자:  Python

In [ ]:
# 마지막 문자열부터 인덱싱하는 방법
a = "I am Python programming language"
print("마지막 문자: ", a[-1])
print("마지막 문자부터 2글자: ", a[-1], a[-2])
print("마지막 문자부터 8글자: ", a[-1], a[-2], a[-3], a[-4], a[-5], a[-6], a[-7], a[-8])

마지막 문자:  e
마지막 문자부터 2글자:  e g
마지막 문자부터 8글자:  e g a u g n a l

In [ ]:
# 예제 2) a 변수에 "I am Python programming language"를 대입하고 다음과 같이 출력되도록 한다.
# Python language

a = "I am Python programming language"
print(a[5]+a[6]+a[7]+a[8]+a[9]+a[10], a[-8]+a[-7]+a[-6]+a[-5]+a[-4]+a[-3]+a[-2]+a[-1])

Python language

In [ ]:
# 문자열 슬라이싱 이해
a = "I am Python programming language"
print("0~3 번 인덱스 문자: ", a[0:4])
print("5~10 번 인덱스 문자: ", a[5:11])
print("12~22 번 인덱스 문자: ", a[12:23])
print("24~31 번 인덱스 문자: ", a[24:32])

0~3 번 인덱스 문자:  I am
5~10 번 인덱스 문자:  Python
12~22 번 인덱스 문자:  programming
24~31 번 인덱스 문자:  language

In [ ]:
# 문자열 슬라이싱하는 방법
a = "0123456789"
print("문자 전체: ", a[:])    # 전체
print("문자 전체: ", a[0:])   # 0 번 부터 끝까지
print("4번 인덱스 이상 문자 :", a[4:])    # 4 번 부터 끝까지
print("4번 인덱스 미만 문자 :", a[:4])    # 4 번 전 까지
print("마지막 문자 3 개 제외한 문자 전체 :", a[:-3])    # -3 번 전 까지
print("2~8 번 인덱스 문자: ", a[2:9])     # 2 번 부터 9 번 전 까지
print("2~8 번 인덱스 문자에서 슬라이싱 간격 2 개인 경우: ", a[2:9:2])
print("2~8 번 인덱스 문자에서 슬라이싱 간격 3 개인 경우: ", a[2:9:3])

문자 전체:  0123456789
문자 전체:  0123456789
4번 인덱스 이상 문자 : 456789
4번 인덱스 미만 문자 : 0123
마지막 문자 3 개 제외한 문자 전체 : 0123456
2~8 번 인덱스 문자:  2345678
2~8 번 인덱스 문자에서 슬라이싱 간격 2 개인 경우:  2468
2~8 번 인덱스 문자에서 슬라이싱 간격 3 개인 경우:  258

In [ ]:
# 슬라이싱을 이용한 문자열 나누기
a = "test1234abcd123420020716"
id = a[:8]
pw = a[8:16]
birth = a[16:]
print("username: ", id)
print("password: ", pw)
print("birthday: ", birth)

username:  test1234
password:  abcd1234
birthday:  20020716

In [ ]:
# 예제 3) b 변수에 "Seoul.Tokyo.Beijing"을 대입하고 다음과 같이 출력되도록 슬라이상한다.
"""
Korea = Seoul
Japan = Tokyo
China = Beijing
"""

b = "Seoul.Tokyo.Beijing"
print("Korea =", b[:5])
print("Tokyo =", b[6:11])
print("China =", b[12:])

Korea = Seoul
Tokyo = Tokyo
China = Beijing

In [ ]:
# 예제 4) c 변수에 "I am C programming language"를 대입하고 슬라이싱을 이용하여 c 변수에 대입한 문자열을 다음과 같이 출력되도록 한다.
# I am Python progriamming language
c = "I am C programming Language"
print(c[:4],"Python"+c[6:])

I am Python programming Language

In [ ]:
# 문자열 포매팅 이해
"""
%s    문자열(String)
%c    문자1개(Character)
%d    정수(Interger)
%f    부동소수(Floating-Point)
%o    8진수
%x    16진수
%%    %
"""
s1 = "2002"
s2 = "한일"
s3 = "4"
s4 = "2002 년 한일 월드컵 4 강"
d1 = 2002
d2 = 4
print(s4)
print(s1 + " 년 " + s2 + " 월드컵 " + s3 + " 강")
print("%s 년 %s 월드컵 %s 강" %("2002", "한일", "4"))
print("%s 년 %s 월드컵 %s 강" %(s1, s2, s3))
print("%s 년 %s 월드컵 %c 강" %(s1, s2, s3))
print("%d 년 %s 월드컵 %d 강" %(2002, "한일", 4))
print("%d 년 %s 월드컵 %d 강" %(d1, s2, d2))

2002 년 한일 월드컵 4 강
2002 년 한일 월드컵 4 강
2002 년 한일 월드컵 4 강
2002 년 한일 월드컵 4 강
2002 년 한일 월드컵 4 강
2002 년 한일 월드컵 4 강
2002 년 한일 월드컵 4 강

In [ ]:
# %% 포맷 코드 이해
a = 95
print("합격율 %d%%" %(a))

합격율 95%

In [ ]:
# %f 포맷 코드 이해
a = 3.141592
print("원주율은 '%d' 입니다." %(a))
print("원주율은 '%f' 입니다." %(a))
print("원주율은 '%.1f' 입니다." %(a))
print("원주율은 '%.2f' 입니다." %(a))
print("원주율은 '%.6f' 입니다." %(a))

원주율은 '3' 입니다.
원주율은 '3.141592' 입니다.
원주율은 '3.1' 입니다.
원주율은 '3.14' 입니다.
원주율은 '3.141592' 입니다.

In [ ]:
# 2/8/16 진수 포맷 코드
a = 500
print("500은 8진수로 %o 입니다." %(a))
print("500은 16진수로 %x 입니다." %(a))
print("500은 16진수로 %.4x 입니다." %(a))
print("500은 16진수로 %.8x 입니다." %(a))
print("500은 2진수로 %s 입니다." %(bin(a)))

500은 8진수로 764 입니다.
500은 16진수로 1f4 입니다.
500은 16진수로 01f4 입니다.
500은 16진수로 000001f4 입니다.
500은 2진수로 0b111110100 입니다.

In [ ]:
# format() 함수를 이용한 포매팅
s1 = "2002"
s2 = "한일"
s3 = 4
s4 = "{year:}년 한일 월드컵 4 강"
print("{}년 {} 월드컵 {}강".format(2002, "한일", 4))                 # 인덱스 사용
print("{0}년 {1} 월드컵 {2}강".format(2002, "한일", 4))              # 인덱스 부여
print("{2}년 {1} 월드컵 {0}강".format(2002, "한일", 4))              # 인덱스 순서 변경
print("{2}년 {1} 월드컵 {2}강".format(2002, "한일", 4))              # 인덱스 중복 가능
print("{}년 {} 월드컵 {}강".format(s1, s2, s3))                      # 변수 지정
print("{x}년 {y} 월드컵 {z}강".format(x = 2002, y = "한일", z = 4))  # 변수=값 형식
print("{}년 {} 월드컵 {z}강".format(2002, s2, z = 4))                # 값, 변수, 변수=값 혼용
print(s4.format(year = 2002))                                       # 변수값 대입 방식

2002년 한일 월드컵 4강
2002년 한일 월드컵 4강
4년 한일 월드컵 2002강
4년 한일 월드컵 4강
2002년 한일 월드컵 4강
2002년 한일 월드컵 4강
2002년 한일 월드컵 4강
2002년 한일 월드컵 4 강

In [ ]:
# format() 함수를 이용한 문자열 정렬
a = "ㅋㅋ"
print("좌측 정력 {0:<10}".format(a))
print("우측 정력 {0:>10}".format(a))
print("가운데 정렬 {0:^10}".format(a))

좌측 정력 ㅋㅋ
우측 정력         ㅋㅋ
가운데 정렬     ㅋㅋ

In [ ]:
# format() 함수를 이용한 무자열 공백 채우기
a = "ㅋㅋ"
print("좌측 정렬 및 공백 채우기 {0:ㅎ<10}".format(a))
print("우측 정력 및 공백 채우기  {0:7>10}".format(a))
print("가운데 정력 및 공백 채우기 {0:=^10}".format(a))

좌측 정렬 및 공백 채우기 ㅋㅋㅎㅎㅎㅎㅎㅎㅎㅎ
우측 정력 및 공백 채우기  77777777ㅋㅋ
가운데 정력 및 공백 채우기 ====ㅋㅋ====

In [ ]:
# format() 함수를 이용한 소수점 표현
a = 3.141592
print("{0:f}".format(a))
print("{0:0.1f}".format(a))
print("{0:0.2f}".format(a))
print("{0:0.3f}".format(a))
print("{0:0.4f}".format(a))

3.141592
3.1
3.14
3.142
3.1416

In [ ]:
# format() 함수를 이용한 { ] 문자 표현
name = "홍길동"
height = 174
weight = 78.4
print("이름: {{{0}}} | 키: {{{1}}} | 몸무게: {{{2}}}".format(name, height,weight))

이름: {홍길동} | 키: {174} | 몸무게: {78.4}

In [ ]:
# f-string 을 이용한 포매팅
s1 = "2002"
s2 = "한일"
s3 = 4
print(f"{s1}년 {s2} 월드컵 {s3}강")
print(f"{s1}년 {s2} 월드컵 {s3 + 4}강")
print(f"{s1}년 {s2} 월드컵 {s3 + 12}강")

2002년 한일 월드컵 4강
2002년 한일 월드컵 8강
2002년 한일 월드컵 16강

In [ ]:
# 딕셔너리(키:값)을 이용한 f-string 포매팅
a = {"name":"홍길동", "height":"174", "weight":"78.4"}
print(f"{a["name"]}은 키가 {a["height"]}cm 이고 몸무게는 {a["weight"]}kg 입니다.")

홍길동은 키가 174cm 이고 몸무게는 78.4kg 입니다.

In [ ]:
# f-string 포매팅을 이용한 문자열 정렬
a = "ㅋㅋ"
print(f"좌측 정렬 {a:<10}")
print(f"우측 정렬 {a:>10}")
print(f"가운데 정렬 {a:^10}")

좌측 정렬 ㅋㅋ
우측 정렬         ㅋㅋ
가운데 정렬     ㅋㅋ

In [ ]:
# f-string 포매팅을 이용한 문자열 공백 채우기
a = "ㅋㅋ"
print(f"좌측 정렬 및 공백 ㅎ으로 채우기 {a:ㅎ<10}")
print(f"우측 정렬 및 공백 ㅎ으로 채우기 {a:ㅎ>10}")
print(f"가운데 정렬 및 =으로 공백 채우기 {a:=^10}")

좌측 정렬 및 공백 ㅎ으로 채우기 ㅋㅋㅎㅎㅎㅎㅎㅎㅎㅎ
우측 정렬 및 공백 ㅎ으로 채우기 ㅎㅎㅎㅎㅎㅎㅎㅎㅋㅋ
가운데 정렬 및 =으로 공백 채우기 ====ㅋㅋ====

In [ ]:
# f-string 포매팅을 이용한 수수점 표현
a = 3.141592
print(f"{a:f}")
print(f"{a:0.1f}")
print(f"{a:0.2f}")
print(f"{a:0.3f}")
print(f"{a:0.4f}")

3.141592
3.1
3.14
3.142
3.1416

In [ ]:
# f-string 포매팅을 이용한 { } 문자 표현
name = "홍길동"
height = 174
weight = 78.4
print(f"이름: {name} | 키: {{height}} | 몸무게: {{{weight}}}")

이름: 홍길동 | 키: {height} | 몸무게: {78.4}

In [ ]:
# 예제 5) 포멧 코드를 이용하여 다음과 같이 출력되도록 하여라.
# 박찬호는 키가 188cm이고 몸무게는 88.5kg 입니다.

name = "박찬호"
height = 188
weight = 88.5

print("%s는 키가 %dcm이고 몸무게는 %.1fkg 입니다." %(name, height, weight))

박찬호는 키가 188cm이고 몸무게는 88.5kg 입니다.

In [ ]:
# 예제 6) format() 함수를 이용하여 다음과 같이 출력되도록 하여라.
# 박찬호는 키가 188cm이고 몸무게는 88.5kg 입니다.

name = "박찬호"
height = 188
weight = 88.5

print("{}는 키가 {}cm이고 몸무게는 {}kg 입니다." .format(name, height, weight))

박찬호는 키가 188cm이고 몸무게는 88.5kg 입니다.

In [ ]:
# 예제 7) f-string을 이용하여 다음과 같이 출력되도록 하여라.
# 박찬호는 키가 188cm이고 몸무게는 88.5kg 입니다.

name = "박찬호"
height = 188
weight = 88.5

print(f"{name}는 키가 {height}cm이고 몸무게는 {weight}kg 입니다.")

박찬호는 키가 188cm이고 몸무게는 88.5kg 입니다.

In [ ]:
# count() 함수
a = "I am Python programming language"
print(a.count("x"))  # 문자가 없으면 '0' 반환
print(a.count("m"))
print(a.count("Python"))
print(a.count("p"))
print(a.count("P"))
print((a.lower()))  # 대소문자 구분 없이 문자 개수 구하기
print((a.lower()).count("p"))
print((a.upper()))
print((a.upper()).count("P"))

0
3
1
1
1
i am python programming language
2
I AM PYTHON PROGRAMMING LANGUAGE
2

In [ ]:
# find() 함수: 찾는 문자가 없으면 '-1' 반환
a = "I am Python programming language"
print(a.find("x"))         # 문자가 없으면 '-1' 반환
print(a.find("m"))
print(a.find("m", 4))      # 인덱스 4 이후에 처음 등장하는 'm'이 인덱스 18에 위치해 있기 때문입니다."
print(a.find("m", 4, 17))  # 4~17 번째 문자에서 찾음
print(a.find("Python"))    # 'P'의 인덱스 출력
print(a.find("p"))
print(a.find("P"))
print((a.lower()).find("p"))
print((a.upper()).find("P"))

-1
3
18
-1
5
12
5
5
5

In [ ]:
# index() 함수: 찾는 문자가 없으면 'ValueError: substring not found' 오류 발생
a = "I am Python programming language"
print(a.index("x"))         # 문자가 없으면 'ValueError: substring not found' 오류 발생
print(a.index("m"))
print(a.index("m", 4))      # 인덱스 4 이후에 처음 등장하는 'm'이 인덱스 18에 위치해 있기 때문입니다."
print(a.index("m", 4, 17))  # 4~17 번째 문자에서 찾음
print(a.index("Python"))    # 'P'의 인덱스 출
print(a.index("p"))
print(a.index("P"))
print((a.lower()).index("p"))
print((a.upper()).index("P"))

ValueError: substring not found

In [ ]:
# re 모듈에서 제공하는 finditer() 함수를 이용한 동일한 문자 여러개의 위치 찾기
import re
a = "I am Python programming language"

for b in re.finditer("m", a):
    print("문자 시작 위치: ", b.start(), "|", "문자 끝 위치: ", b.end())

문자 시작 위치:  3 | 문자 끝 위치:  4
문자 시작 위치:  18 | 문자 끝 위치:  19
문자 시작 위치:  19 | 문자 끝 위치:  20

In [ ]:
# join() 함수: 문자열에 문자 삽입
a = "I am Python programming language"
b = ","
c = "X"
print(".".join(a))
print(b.join(a))
print(c.join(a))

I. .a.m. .P.y.t.h.o.n. .p.r.o.g.r.a.m.m.i.n.g. .l.a.n.g.u.a.g.e
I, ,a,m, ,P,y,t,h,o,n, ,p,r,o,g,r,a,m,m,i,n,g, ,l,a,n,g,u,a,g,e
IX XaXmX XPXyXtXhXoXnX XpXrXoXgXrXaXmXmXiXnXgX XlXaXnXgXuXaXgXe

In [ ]:
# join() 함수를 이용한 리스트에 문자 삽입
a = ["a", "b", "c", "d"]
b = ","
c = "X"
print(".".join(a))
print(b.join(a))
print(c.join(a))
d = (".".join(a))

a.b.c.d
a,b,c,d
aXbXcXd

In [ ]:
# 리스트가 int로 되어있는 경우, join() 함수를 이용한 리스트에 문자 삽입
a = [1, 2, 3, 4]
a = list(map(str, a))    # map() 함수를 활용하여 a의 모든 요소에 str()함수 적용
b = ","
print(".".join(a))
print(b.join(a))

1.2.3.4
1,2,3,4

In [ ]:
# join() 함수를 이용한 튜플에 문자 삽입
a = ("a", "b", "c", "d")
b = ","
print(".".join(a))
print(b.join(a))

a.b.c.d
a,b,c,d

In [ ]:
# 튜플이 int로 되어있는 경우, join() 함수를 이용한 튜플에 문자 삽입
a = (1, 2, 3, 4)
a = list(map(str ,a))
b = ","
print(".".join(a))
print(b.join(a))

1.2.3.4
1,2,3,4

In [ ]:
# join() 함수를 이용한 리스트 요소들 합치기
a = ["I", "am", "Python", "protramming", "language"]
print(" ".join(a), "$".join(a))

I am Python protramming language I$am$Python$protramming$language

In [ ]:
# upper() 함수
a = "I am Python programming language"
print(a.upper())

I AM PYTHON PROGRAMMING LANGUAGE

In [ ]:
# lower() 함수
a = "I am Python programming language"
print(a.lower())

i am python programming language

In [ ]:
# upper() 함수와 lower() 함수를 이용한 대소문자 구분 없이 문자열 비교
a = "Python"
b = "python"
print("대문자/소문자 구분 비교 결과 = ", a == b)
print("대문자/소문자 구분 없이 비교 결과 = ", a.upper() == b.upper())
print("대문자/소문자 구분 없이 비교 결과 = ", a.lower() == b.lower())

대문자/소문자 구분 비교 결과 =  False
대문자/소문자 구분 없이 비교 결과 =  True
대문자/소문자 구분 없이 비교 결과 =  True

In [ ]:
# swapcase() 함수: 대문자를 소문자로, 소문자를 대문자로 변경
a = "I am Python programming language"
print(a.swapcase())

i AM pYTHON PROGRAMMING LANGUAGE

In [ ]:
# capitalize() 함수: 라인 첫글자를 대문자로 변경
a = "python is fun"
print(a.capitalize())

Python is fun
c programming language

In [ ]:
# title() 함수: 단어 첫글자를 대분자로 변경
a = "python is fun"
print(a.title())

Python Is Fun

In [ ]:
# lstrip() 함수: 문자열 죄측에 있는 한칸 이상 연속된 공백 삭제
# rstrip() 함수: 문자열 우측에 있는 한칸 이상의 연속된 공백 삭제
# strip() 함수: 문자열 양쪽에 한칸 이상의 연속된 공백 삭제
a = "   Python  "
print("[" + a.lstrip() + "]")
print("[" + a.rstrip() + "]")
print("[" + a.strip() + "]")

[Python  ]
[ Python]
[Python]

In [ ]:
# 함수 인자 1개를 이용한 좌측, 우측, 좌우측 동일한 문자 삭제
a = "00000I am Python programming language 000"
print("[" + a.lstrip('0') + "]")
print("[" + a.rstrip('0') + "]")
print("[" + a.strip('0') + "]")

[I am Python programming language 000]
[00000I am Python programming language ]
[I am Python programming language ]

In [ ]:
# 함수 인자 여러개를 이용한 좌측, 우측, 좌우측 동일한 문자 삭제
a = "aaaabbbbcccc====ccccbbbbaaaa"
print(a.lstrip("ab"))
print(a.rstrip("ab"))
print(a.strip("ab"))

cccc====ccccbbbbaaaa
aaaabbbbcccc====cccc
cccc====cccc

In [ ]:
# replace() 함수: 문자열 안에서 특정 문자를 다른 문자로 치환(대소문자 구분함)
# 매개 변수: '검색 문자', '치환 문자', '치환 횟수'(기본값 -1(전체))
a = "현재 시간은 2023 년 12 월 12 일 12 시 12 분 입니다."
print(a.replace("12", "8", 1))
print(a.replace("12", "8", 2))
print(a.replace("12", "8", 3))
print(a.replace("12", "8", -1))
print(a.replace("12", "8"))

현재 시간은 2023 년 8 월 12 일 12 시 12 분 입니다.
현재 시간은 2023 년 8 월 8 일 12 시 12 분 입니다.
현재 시간은 2023 년 8 월 8 일 8 시 12 분 입니다.
현재 시간은 2023 년 8 월 8 일 8 시 8 분 입니다.
현재 시간은 2023 년 8 월 8 일 8 시 8 분 입니다.

In [ ]:
# replace() 함수를 이용한 특정 문자 및 공백 삭제
a = "%3C%73%63%69%73%63%6F%73%79%73%74"
b = "3C 73 63 69 73 63 6F 73 79 73 74"
print(a.replace("%", ""))
print(b.replace(" ", ""))

3C73636973636F73797374
3C73636973636F73797374

In [ ]:
# split() 함수: 문자열을 분리하여 리스트로 구성
a = "I am Python programming language"
b = "user1:x:1001:1001::/home/user1:/bin/bash"
print(a.split())
print(b.split(":"))

['I', 'am', 'Python', 'programming', 'language']
['user1', 'x', '1001', '1001', '', '/home/user1', '/bin/bash']

In [ ]:
### 문자열 자료형은 불변(immutable) 자료형 ###
a = "PYTHON"
print(a.lower())
print(a)

### lower() 함수 뿐만 아니라 문자열 관련 함수(upper, join, lstrip, rstrip, strip, replace, split)에 공통적으로 불변함 ###
### 적용하기 위해서는 반환값을 동일한 변수 또는 다른 변수로 선언하여 사용 ###

a = a.lower()
print(a)

python
PYTHON
python

In [ ]:
# input() 함수: 키보드 입력값을 문자열로 반환하는 함수
user_id = input("username: ")
user_pw = input("password: ")
user_age = int(input("age: "))
print("=" * 35)
print(f"입력한 아이디는 {user_id}입니다.")
print(f"입력한 패스워드는 {user_pw}입니다.")
print(f"입력한 나이는 {user_age}입니다.")

username: tester
password: abcd1234
age: 22
===================================
입력한 아이디는 tester입니다.
입력한 패스워드는 abcd1234입니다.
입력한 나이는 22입니다.